footer {
    padding: 50px 50px;
    text-align: center;
    background-color: #011936;
    color: white;

    article {
        margin: 10px;

        a {
            margin: 5px;

            &:hover > i {
                color: rgb(164, 189, 211);
            }

            i {
                font-size: 30px;
                color: white;
            }
        }
    }
}