* {
    margin: 0;
    padding: 0;
}

main {
    padding: 50px 50px;

    section {
        margin-top: 50px;

        &:first-child {
            margin-top: 0;
        }
        
        article {
            padding-bottom: 50px;
            align-content: center;

            &:last-child {
                padding-bottom: 0;
            }

            img, h4 {
                display: inline-block;
            }

            img {
                width: 50px;
                border: 0.5px solid whitesmoke;
                margin-right: 10px;
            }

            h4 {
                font-size: 40px;
            }
        }
    }
}

main section article:last-child {
    padding: 0 24px;
}

header main footer {
    padding: 0 50px;
}

header {
    padding-top: 50px;
}

footer {
    padding-bottom: 50px;
}

section.education .courses, section.experience .projects {
    display: block;

    aside {
        border-left: 3px solid #011936;

        .course, .project {
            padding: 20px;
        }
    }
}