section.skills-section .skills {
    &, .skill {
        display: inline-block;
        align-content: center;
    }

    .skill {
        width: 100px;
        height: 100px;
        background-color: aliceblue;
        border-radius: 10px;
        margin: 5px;
        text-align: center;
        padding: 5px;

        &:hover {
            background-color: rgb(187, 241, 224);
        }

        i {
            font-size: 80px;
        }

        figcaption {
            margin: 2px;
            color: #011936;
        }
    }
}